div(class="text-input", style="position: relative; display: inline-flex;")
  input(id="snowflake" type="text" placeholder="e.g. 540651491984146433")
  button(id="submit")
    label(class="input-icon" for="snowflake") ❄