doctype html 
html 
    include partials/head.pug
    body(class="dark-mode", data-new-gr-c-s-check-loaded="14.1083.0", data-gr-ext-installed="")
        include partials/explain.pug
        include partials/input.pug
        include partials/api-stuff.pug
    include partials/footer.pug
